* {
    margin: 0;
    border: 0;
    text-decoration: none;
    transition: 0.5s;
}

body{
    background-color: #232323;
}

#parte-de-cima a{
    color: #CECECE;
    margin: 1.3vw;
}

#parte-de-cima div a:hover {
    background-color: #FFFFFF;
    padding: 0.98vw 1.89vw;
    border-radius: 2.27vw;
    color: black;
}

#parte-de-cima{
    display: flex;
    align-items: center;
    justify-content: right;
    background-color: #191919;
    position: fixed;
    width: 100%; 
    top: 0;
    left: 0;
}

main {
    background-color: #232323;
}

#menu {
    position: fixed;
    background-color: #020202;
    top: 0px; left: 0px;
    height: 100vh;
    width: 20.62vw;
    z-index: 10;
    margin: 0; padding: 0;
}

label img{
    height: 6.4vw;
    width: 6.4vw;
}

label{
    position: fixed;
    top: 1vw;
    left: 1vw;
    z-index: 8;
    transition: all .5s;
    visibility: hidden;
}

#check{
    display: none;
}

#menu #logo{
    text-align: center;
}

#ibb {
    padding: 1.21vw;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
}

#ibb p {
    display: flex;
} 


#cm {
    padding: 1.21vw;
}

#pe {
    padding: 1.21vw;
}

#menu a, #menu p{
    color: #FFFFFF;
}

#nada {
    background-color: #393939;
    height: 0.07vw;
    width: 18.19vw;
}

#inicio, #busca, #biblioteca, .cmc, #dowload, #portugues {
    display: flex;
    align-items: center;
}

#musics p{
    padding-top: 0.45vw;
}

#dowload, #portugues {
    margin-top: 2.50vw;
}

#portugues p{
    padding-left: 0.75vw;
}

#portugues {
    border: #FFFFFF solid 0.37vw;
    border-radius: 6.06vw;
}

#portugues img{
    padding-left: 1.2vw;
}

main {
    height: calc(100% - 5.98vw);
    width: calc(100% - 20.62vw);
    margin-left: 20.62vw;
    margin-top: 4.32vw;
}

#metal {
    display: grid;
    grid-template-rows: repeat(6, 1fr);
}

#metal .item{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 1.51vw;
    padding-top: 1.51vw;
}

#navegar {
    padding: 2.12vw 2.12vw 0px;
    font-family: 'Inter', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-size: 1.81vw ;
    color: white;
}

#form {
    position: absolute;
    left: 21.62vw;
    background-color: white;
    border-radius: 1.51vw;
    width: 29.12vw;
    height: 2.50vw;
}

#input{
    width: 24vw;
    height: 2vw;
}

#form form button{
    height: 2.50vw;
    width: 4vw;
    font-size: 1.5vw;
}

#form form button, #form form input {
    border: none;
    border-radius: 1.51vw;
}

.item img{
    width: 14.31vw;
    height: 13.32vw;
}

@media (max-width: 990px){
    label{
        visibility: visible;
        z-index: 11;
    }

    #menu{
        left: -24.62vw;
        width: 24.62vw;
        background-color: #232323f4;
    }

    #check:checked ~ #menu{
        transform: translateX(24.62vw);
    }
    
    #check:checked ~ label{
        transform: translateX(23.62vw);
    }

    main{
        left: 0;
        width: 100%;
        margin-left: 0;
        margin-top: 7vw;
    }

    .item img {
        width: 15.81vw;
        height: 14.82vw;
    }

    #navegar{
        font-size: 2.31vw;
    }

    #form{
        left: 9.62vw;
        width: 30.12vw;
        height: 3.50vw;
    }

    #input{
        width: 24vw;
        height: 3vw;
    }

    #form form button{
        height: 3.50vw;
        width: 5vw;
        font-size: 2vw;
    }

    .baners img{
        Width: 16.6vw;
        Height: 20.9vw;
    }

    #parte-de-cima a{
        font-size: 2vw;
    }

    .mostrar{
        font-size: 1.6vw;
    }

    .palavra{
        font-size: 2.31vw ;
    }

    #titulo{
        font-size: 7.77vw;
    }

    #musics a {
        font-size: 1.40vw;
    }

    #ibb p {
        font-size: 1.56vw;
    }

    #ibb img{
        width: 2.39vw;
        height: 2.31vw;
    }

    #cm p{
        font-size: 1.56vw;
    }

    #cm img{
        width: 3vw;
        height: 3.45vw;
    }

    #cm #segundaimg{
        width: 3vw;
        height: 3.20vw;
    }

    #dowload img{
        width: 3.19vw;
        height: 2.89vw;
    }
    
    #dowload p{
        font-size: 1.56vw;
    }

    #menu #logo img{
        width: 11.04vw;
        height: 7.85vw;
    }

    #portugues p{
        font-size: 1.56vw;
    }
    
    #portugues {
        padding: 1vw 1.5vw 1vw 1.5vw;
    }

    #portugues img{
        width: 3.27vw;
        height: 3.27vw;
    }
}